services:
  postgres:
    image: postgres:16-alpine
    container_name: simulated-notification-db-dev
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: simulated_notification
    ports:
      - "5433:5432"
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network-dev

volumes:
  postgres_data_dev:
    driver: local

networks:
  app-network-dev:
    driver: bridge

